
<p class="info">Ратнівський район</p>
<p class="info">0979796812</p>
<p class="info">dudkai@ukr.net</p>

<hr>
<p>Серед Поліських озер Волинської області, Ратнівського району, на лісовій галявині відкриває свої двері агросадиба «Журавлиний край».</p>
<p>До послуг гостей – комфортабельний будиночок, в якому одночасно можуть відпочивати до 10 осіб; кухня-їдальня, обладнана холодильником, електроплитою, мікрохвильовою пічкою, електрочайником, тощо, є постійна гаряча та холодна вода.</p>
<p>За бажанням гості можуть самі готувати собі їжу чи відпочити від кухонних справ, якщо замовлять справжні українські страви: вареники, млинці, домашню ковбасу, пироги, борщі та юшки, смажену рибку та інше.</p>
<p>Завжди до столу можна замовити свіже молоко, яйця, мед, рибу, овочі та фрукти, гриби та ягоди, адже господарі мають власне підсобне господарство, де вирощують городину, утримують домашню худобу та птицю, проводять заготівлю щедрих лісових дарів.</p>
<p>Вітальня садиби оздоблена натуральною деревиною. Тут можна спокійно відпочити під музику, подивитись телевізор, або послухати сріблясто-звінкий шум фонтанчика та випити філіжанку натуральної кави чи квіткового чаю.</p>
<p>У релакс-кімнаті досвідчений масажист-косметолог завжди порадить різні види масажу та запропонує їх, як і інші косметичні процедури.</p>
<p>На другому поверсі садиби розташовані дві затишні спальні кімнати, з вікон яких відкривається чудовий краєвид на мальовничий ліс.</p>
<p>Додаткові платні послуги:</p>
<p>Родзинкою садиби є справжня руська баня. Березові вінички, трав’яні настої, цілющий духмяний квас додають міцного здоров’я та хорошого настрою справжнім цінителям банних ритуалів.</p>
<p>Для любителів активного відпочинку пропонується:</p>
    <ol>
        <li>стрільба з пневматичних рушниць;</li>
        <li>катання на велосипеді;</li>
        <li>гра в настільний теніс;</li>
        <li>волейбол;</li>
        <li>бадмінтон;</li>
        <li>тренажери.</li>
    </ol>
<p>Для спокійного відпочинку:</p>
    <ol>
        <li>риболовля;</li>
        <li>збирання грибів та ягід;</li>
        <li>прогулянка лісом.</li>
    </ol>
<p>В смт. Заболотті щоденно працює ринок, магазин, пошта, аптека, банк, бібліотека. Також функціонують ряд кафе, барів, нічний клуб.</p>
<p>З залізничного вокзалу щоденно можна дістатись в м. Ковель та м. Брест (БР), а автобусом</p>
<p>смт. Ратне, м. Ковель, м. Луцьк, м. Рівне.</p>

