<p class="info">Володимир

</p>
<p class="info">Шацький район</p>
<p class="info">0974065174 </p>



<hr>
    <p>Комфортабельний котедж, кухня, 5 кімнат для відпочинку з телевізорами та кондиціонерами;</p>
    <p>на 1 поверсі: дві спальні кімнати і вітальня, кухня;</p>
    <p>на 2 поверсі: дві спальні кімнати;</p>
    <p>туалет і душ (з гарячою і холодною водою);</p>
    <p>паркова а/м у дворі.</p>
    <p>Харчування: В будинку є оснащена кухня (з меблями, посудом, плиткою, холодильником).</p>
    <p>У дворі: бесідка, мангал.</p>












