<p class="info">Пуцик Леонід Олександрович

</p>
<p class="info">Шацький район</p>
<p class="info">0979769493 </p>






<hr>
<p>В наявності:</p>
<p>один 2-х місний номер-200 грн/доба та один 3-х місний номер-300 грн/доба (спільний санвузол)</p>
<p>один 2-х кімнатний номер-500 грн/доба (окремий санвузол)</p>
<p>обладнана кухня</p>
<p>супутникове телебачення</p>
<p>мангал та гойдалка</p>
<p>альтанка</p>
<p>місце для стоянки автомобіля</p>
<p>Оренда котеджу-1000 грн./доба.</p>
<p>Холодна та гаряча вода цілодобово.</p>
<p>При замовленні на термін більше 5-ти днів- знижка 10%.</p>
























