<p class="info">Анатолій

</p>
<p class="info">Шацький район</p>
<p class="info">0975007657  </p>





<hr>
<p>Комфортабельний котедж, у всіх номерах є опалення, телевізор, супутникове телебачення.</p>
<p>На 1 поверсі: вітальня з каміном, кухня, 1 двохмісний номер та ванна кімната.</p>
<p>На 2 поверсі: три двохмісні номери з санвузлами і виходами на балкон та один двохмісний номер без санвузла (зручності на першому поверсі).</p>
<p>Туалет і душ (з гарячою та холодною водою) цілодобово.</p>
<p>Парковка автомобілів на території.</p>
<p>Харчування: в будинку є прекрасно оснащена кухня з меблями, посудом, плиткою, витяжкою, холодильником (з морозильною камерою).</p>
<p>Можлива доставка всіх видів озерної риби та інших домашніх продуктів харчування.</p>
<p>До послуг відпочиваючих: тераса, альтанка з мангалом, дрова для вогнища, два човна для романтичних прогулянок на чистих хвилях озера або незабутньої та неповторної риболовлі.</p>
<p>хороший вихід до озера на піщаний пляж.</p>






















