<p class="info">Вітковський Леонід</p>
<p class="info">Іваничівський район</p>
<p class="info">0972779297</p>
<p class="info">(03344)4-09-89</p>
<p class="info">leovitkovskij@yandex.ru</p>

<hr>
    <p>Садиба "Петрівський маєток” пропонує: басейн, камін, російська баня (2 год), фінська сауна (2 год), бар-стійка, віники, рушники, тапки, фен, DVD, TV, караоке, 4 пл. пива, солодощі, бесідка, барбекю-мангал, відпочинок на сіні, гамак, гітара, гармошка, вечірня дискотека, користування кухнею, м’яч, паркінг авто.</p>
    <p>Додаткові платні послуги:</p>
    <p>Туристичні екскурсії (за домовленістю).</p>
    <p>Проведення корпоративів, днів народження, свят (бесідка на 16-20 чоловік – 80 грн/год).</p>
    <p>Замовлення веселих музик (за домовленістю).</p>
    <p>Пневмотир – 0.2 грн. за постріл.</p>
    <p>Дитячі мотоцикли (електро та ДВЗ) – 1 год. – 100грн.</p>
    <p>Самовар (на шишках) – 30 грн.</p>
    <p>Кальян – 50 грн.</p>
    <p>Підзорна труба – 50 грн.</p>
    <p>Кухня на замовлення.</p>
    <p>Вудка – 30 грн/день.</p>
    <p>Переодягання в бійців ВВВ – 25 грн/год.</p>
    <p>«Лікування» живою та мертвою водою – 100 грн.</p>
    <p>Імітація вітального пострілу з гармати – 100 грн.</p>
    <p>Пейнтбол – 80 грн. (без обмежень в часі). Всім учасникам після завершення гри пропонується уха за рахунок закладу.</p>
    <p>Садиба «Петрівський маєток» розташована у лісовому масиві, огороджена і знаходиться під цілодобовою охороною.</p>




