<p class="info">Римарчук Валентина Сергіївна</p>
<p class="info">Ковельський район</p>
<p class="info">0672356928</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує для відпочиваючих двомісні кімнати.</p>
    <p>Туалет на вулиці, є літня кухня.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, радіоприймачем, телефоном, дивитись телевізор.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Господиня пропонує за бажанням навчити вишиванню і  в’язанню.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати, навчитися верховій їзді.</p>
    <p>Господиня пропонує прогулянки до лісу та озера.</p>
    <p>Медична допомога (медпункт) знаходиться на відстані 1 км, а переговорний пункт -7 км.</p>







