<p class="info">Мельник Юлія Олександрівна

</p>
<p class="info">Шацький район</p>
<p class="info">0982266756 </p>


<hr>
    <p>Літні деревяні будиночки</p>
    <p>2 та 3-місні номера</p>
    <p>човен для риболовлі</p>
    <p>стоянка для машин</p>
    <p>мангал</p>
    <p>сауна</p>
<p>Особливості:</p>
    <ol>
        <li>до озера 100 метрів, берег пісчаний</li>
        <li>велика затишна територія, гарно озеленена та огороджена парканом</li>
        <li>зручне розміщення: будинки в лісі, на березі озера</li>
        <li>будинки оточені гарним сосновим та мішаним лісом, ліси багаті на гриби та ягоди - для приємних прогулянок та відпочинку</li>
        <li>на території завжди чисто та аккуратно, гарно озеленено</li>
        <li>будиночки повністю дерев"яні, екологічно чисті, присутній аромат дерева</li>
        <li>відпочинок на свіжому повітрі для тих хто цінує природу</li>
        <li>озеро ідеально підходить для риболовлі</li>
    </ol>

    <p>Опис:</p>
    <p>Будиночки підходять для сімейного, індивідуального відпочинку, для закоханих та для гарних дружніх компаній. Необхідні умови для проведення комфортного відпочинку, святкувань, риболовлі ( не погано ловиться: карп, лящ, щука ). На території панує приємна та спокійна атмосфера, а порядні та уважні господарі подбають про вас під час відпочинку.</p>
    <p>Харчування:</p>
    <p>За домовленістю - здорове харчування з місцевих екологічних продуктів; сільське харчування. Є можливість для самостійного приготування їжі.</p>
    <p>Послуги:</p>
    <p>Включено у вартість: прибирання номерів і зміна білизни по необхідності.</p>
    <p>Бесідки, мангали, човен, обладнана усім необхідним кухня у кожному будиночку, упорядкована територія для відпочинку.</p>


























