<p class="info">Калінчук Віра Онуфріївна</p>
<p class="info">Ратнівський район</p>
<p class="info">0977852168</p>

<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує одно,-дво- і тримісні кімнати. Туалет на вулиці.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, коза, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, полювати.</p>
    <p>Медична допомога (медпункт) і пошта знаходяться на відстані 2 км.</p>




