<h1>
	Історія
</h1>
<div class="body">
    <h2>
        СПІЛКА СПРИЯННІ РОЗВИТКУ СІЛЬСЬКОГО ЗЕЛЕНОГО ТУРИЗМУ В УКРАЇНІ
    </h2>
    <h5>
        (Спілка СЗТ України)
    </h5>
<h3>
    Всеукраїнська громадська неприбуткова організація
</h3>

    <h2> 1996 -2016 рр.<h2/>

    <p>Мета: популяризація відпочинку в українському селі, сприяння розвитку сільської інфраструктури та самозайнятості сільського населення, збереження культурної спадщини та  навколишнього середовища.

    <p>Форма роботи: проведення конференцій, виставок, фестивалів, круглих столів, тренінгів в регіонах України, видання журналу, посібників та іншої рекламно-інформаційної продукції.

    <p>Голова правління Спілки: один із ініціаторів та організаторів розвитку сільського туризму в Україні - Васильєв Володимир Павлович, головний редактор журналу „Туризм сільський зелений”.

    <p>Консультанти: доктор Чаки Чабо, президент Центрально-східноєвропейської федерації сільського туризму, Угорщина (1995-2000 р.р.), доктор економічних наук Ігор Прокопа, Україна (1998-2001 р.р.),  доктор Сюзанн Жальбер, США (2002 р.), Олена Бородіна, завідувач відділу економіки і політики аграрних перетворень Інституту економіки та прогнозування НАН України, д.е.н., професор, член-кореспондент НАН України (2015 р.).

    <p>Історія організації  та результати діяльності:<p>Всеукраїнська громадська неприбуткова організація

    <ol>
        <li>1995 р. – ініціатори  розвитку сільського зеленого туризму в Україні: Барнабаш та Габріела Адам (м.Ужгород), Ольга та Володимир Васильєви (Київ), Микола Халимоненко (м.Київ), Олександр Слєпокуров (м.Сімферополь) та Михайло Товт (м.Берегове).</li>
        <li>1996 р. - Міністерство юстиції України зареєструвало статут Спілки сприяння розвитку сільського зеленого туризму в Україні. У правовому полі з`явився новий термін “сільський зелений туризм”.</li>
        <li>1997 р. -  засновано  науково-популярний журнал  «Туризм сільський зелений».</li>
        <li>З 1997 р. реалізовано  понад 30 проектів за підтримки міжнародних благодійних фондів, зокрема, Міжнародного фонду „Відродження”, фонду Євразія, програми ЄС ТАСІС, Британської Ради, проекту АгроІнвест, Німецького товариства міжнародного співробітництва (GIZ) та інших.</li>
        <li>З 1999 р.  приймає участь у роботі міжнародних туристичних, аграрних  та інших виставках-ярмарках.</li>
        <li>1999-2007 рр. – (лобіювання) в Указах Президента України та Кабінету Міністрів України приймаються рішення щодо залучення  незайнятого  сільського населення до діяльності у сфері сільського туризму та затвердження плану заходів державної підтримки розвитку.</li>
        <li>2003 р. - (лобіювання) прийнято Закон України "Про особисте селянське господарство", який надає право власнику особистого селянського господарства надавати послуги у сфері сільського зеленого туризму з використанням майна цього господарства.</li>
        <li>2003-2009 рр. - ініціатор та організатор  щорічної всеукраїнської виставки-ярмарку “Українське село запрошує”.</li>
        <li>2004 р. – введено добровільне екологічне маркування садиб сільського туризму «Зелена садиба».</li>
        <li>Осередки, відділення та регіональні представники Спілки діють у 20 областях України.</li>
        <li>2008 р. - введена Програма добровільної категоризації "Українська гостинна садиба".</li>
        <li>2009р. – спільно з Національним університетом біоресурсів і природокористування України започаткована діяльність Школи сільського зеленого туризму.</li>
        <li>2004-2010 рр. – представник Спілки у складі громадської ради при Державній службі туризму і курортів, міжвідомчій комісії при Кабінеті Міністрів України з питань розвитку сільських територій, Ради з гуманітарних питань, розвитку сільської місцевості при Президентові України, координаційному бюро з питань підготовки до футбольного чемпіонату ЄВРО-2012.</li>
        <li>Керівники Спілки є авторами посібників з питань організації сільського зеленого туризму, 8 осіб мають свідоцтва експертів-дорадників з питань розвитку сільських територій, маркетингу та сільського туризму</li>
        <li>2011 р. - реалізація проекту "Віа Регія - Україна - культурний шлях Ради Європи"</li>
        <li>2011 р. - виповнилося 15 років з дня заснування Спілки сприяння розвитку сільського зеленого туризму в Україні та 15 років з дня введення у правове поле терміну "сільський зелений туризм"</li>
        <li>2012 р. - 15 років з дня виходу першого номеру науково-популярного журналу "Туризм сільський зелений".</li>
        <li>2012-2014 рр. - реалізація проекту "Формування політики розвитку та функціонування сільського зеленого туризму в Україні" за підтримки Проекту АгроІнвест.</li>
        <li>2013 р. - реалізація проекту "Сприяння економічному розвитку та зайнятості" за підтримки Німецького товариства міжнародного співробітництва (GIZ).</li>
        <li>2015 р. - підготовка проектів "Мегабренди українського сільського туризму" та "Мережа інформаційно-консультаційних та агротуристичних осередків"</li>
        <li>1997-2013 рр. - ініціатори розвитку сільського зеленого туризму усіх рівнів за підтримки партнерів вивчали досвід, стажувалися та брали участь у конференціях в Угорщині, Польщі, Австрії, Іспанії, Ірландії, Греції, Франції, Швеції, США, Росії та інших країнах. ініціатори мають сертифікати Всесвітньої Туристичної Організації та інших міжнародних та українських інституцій.</li>
        <li>1999-2011 р.р. - Знаком Державної туристичної адміністрації України  “Почесний працівник туризму України” нагороджено 12 ініціаторів розвитку сільського зеленого туризму в Україні; за популяризацію сільського зеленого туризму –  Диплом лауреата Всеукраїнської професійної туристичної програми “Кришталевий лелека-2000”; Диплом лауреата в номінації “Краще туристичне видання в 2001 р.”; Дипломом «Україна туристична. Особистості - 2007»; Дипломи Міжнародних  туристичних салонів "Україна", Почесною Грамотою та Грамотою Верховної Ради України, Подякою Кабінету Міністрів України, дипломами та грамотами Міністерства аграрної політики України, Державної служби туризму і курортів та інших державних інституцій.</li>
        <li>2014 р. - ГО «Спілка сприяння розвитку сільського зеленого туризму в Україні» є одним із виконавців  п.360 Плану заходів з імплементації Угоди Україна  - ЄС, затвердженого  розпорядженням Кабінету Міністрів України  №847-р від 17.09.2014р</li>
    </ol>
</div>