<p class="info">Кузнєцов В’ячеслав Михайлович
</p>
<p class="info">Турійський  район</p>
<p class="info">(03322)5-03-50 </p>
<p class="info">0501325201 </p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує деревяний будиночок. Місцезнаходження хати -1 км від траси Купичів-Озеряни, 5 км від траси Кременець-Турійськ (через село Новий двір).</p>
    <p>Триразове харчування 40 грн., проживання-15 грн.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні.</p>
    <p>Господар пропонує відпочинок на березі озера Перевірське, за 2-3 км від хати є ліс (можливість збирати гриби, ягоди, лікарські рослини.</p>






































