<p class="info">Волосюк
    Орися Михайлівна

</p>
<p class="info">Любомльський  район</p>
<p class="info">0968122314</p>







<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує: двомісні кімнати в будинку. Туалет на подвір’ї.</p>
    <p>Є можливість користуватися холодильником. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок -10 грн. Дворазове харчування  40 грн., триразове харчування  - 40 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми. Відпочиваючі мають можливість добре відпочити.</p>



























