<p class="info">Нестюкевич  Людмила Олексіївна

</p>
<p class="info">Маневицький  район</p>
<p class="info">0972843609</p>


<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує: 2 тримісних кімнати в будинку. Туалет на вулиці.</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником, телефоном, радіоприймачем. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок 10 грн., дворазове харчування  35 грн., триразове харчування  - 40 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
   <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість ловити рибу, кататися у човні, купатися, полювати, господиня хороша швачка – пошиє вам одяг на любий смак і навчить шити вас..</p>
    <p>Медична допомога знаходиться на відстані 0,5 км і переговорний пункт знаходиться   на відстані 1 км.</p>

































