<p class="info">Віра, Леонід</p>
<p class="info">Шацький район</p>
<p class="info">0679887011  </p>
<p class="info">0975249812 </p>





<hr>
<p>Гостинні господарі.  Найрізноманітніший асортимент страв на замовлення</p>
<p>Опис</p>
<p>Двоповерховий будинок з терасою недалеко від лісу. На території: ставок, кафе-бар. Побудований в 2008 році.</p>
<p>Проживання</p>
<p>У двох, трьох та чотиримісних номерах. Душові кабіни і туалет  знаходяться у дворі. Цілодобова подача гарячої води. Вода надходить із артезіанської свердловина.</p>
<p>Харчування</p>
<p>У нас Ви спробуєте блюда  з екологічно чистих продуктів (є власне господарство).  У щоденний раціон входять м’ясні й рибні блюда.</p>
<p>На замовлення: вугор  запечений  в сметані із зеленню, шашлик з вугра,  вугор тушкований з овочами, свитязька юшка з вугра.</p>
<p>Послуги</p>
<p>Включено у  вартість</p>
<p>Прибирання номерів і зміна постільної білизни – по необхідності.</p>
<p>Стоянка для автомобіля.</p>















