<p class="info">Корінчук Юрій Михайлович</p>
<p class="info">Ратнівський район</p>
<p class="info">0672519916</p>
<p class="info">ICQ: 468-951-120</p>
<p class="info">www.Komarovo.com.ua</p>
<hr>
<p>Якщо традиційний відпочинок, курорти, людська метушня і штовханина не настільки привабливі, у Вас є шанс змінити своє сприйняття літнього або зимового відпочинку, занурившись в зелений туризм.</p>
<p>Саме в с. Комарово Вас гостинно зустрінуть у Садибі ''Комарово''. Садибу оточує ліс і за кілька метрів протікає річка, яка захоплюєю своєю дивовижною красою.</p>
<p>Місцеві жителі покажуть Вам місця де ростуть гриби, ягоди.</p>
<p>Тут відчувається справжнє спілкування з природою, смачна їжа, прогулянки лісом, кіньми, риболовля.</p>
<p>Саме в Комарово ви станете здоровішими, а молодості Вам додасть свіженьке, тепленьке молоко, яке ви самі зможите надоїти у корови сусідської баби Тані.</p>
<p>Навколо будинку розташований прекрасний ставок.</p>
<p>У будинку є: кухня, їдальня, дві спальні, 2 балкони з видом на річку, сауна, тренажери, 2 санвузли, душ, басейн на дровах.</p>
