<div class="body" style="margin: 240px auto; width: 500px;">
    <style>
        body, html {
            overflow: hidden;
        }
    </style>

	<p style="text-align: font-size: 24px; font-weight: 700";>Розробив: Ткачук Богдан Іванович</p>
	<p style="text-align: font-size: 24px; font-weight: 700";>Студен групи ПНК-41</p>
	<p style="text-align: center; font-size: 24px; font-weight: 700; font-style: italic;"> 2016p.</p>
</div>