<p class="info">Козуля Сергій Сергійович</p>
<p class="info">Ковельський район</p>
<p class="info">(03352)93-2-21</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує для відпочиваючих 1 двомісну кімнату.</p>
    <p>Туалет на вулиці. Є колодязь, літня кухня, ванна, баня.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником,  радіоприймачем, телефоном, дивитись телевізор.</p>
    <p>Господар приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, коні, порося, домашня птиця.</p>
    <p>Господиня пропонує за бажанням навчити вишиванню, ткацтву, в’язанню.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати, кататися верхи.</p>
    <p>Медична допомога (медпункт) і переговорний пункт знаходиться на відстані 300 м.</p>




