<p class="info">Назарчук Василь Іванович

</p>
<p class="info">Шацький район</p>
<p class="info">0501881151 </p>




<hr>
<p>Дерев'яний  комфортабельний  2-поверховий котедж  «Лісова казка».</p>
<p>Котедж знаходиться між озерами Світязь, Велике Чорне і Люцимер. На  території розміщено альтанки, мангал, ставок , стоянка для авто.</p>
<p>Котедж пристосований для відпочинку  сімей, дружніх компаній.</p>
<p>На першому поверсі: вітальня з каміном, двохмісні номери</p>
<p>На другому поверсі: двохмісні  номери,  крита тераса з столиком</p>
<p>В номерах: санвузол, душ, холодильник, супутникове ТБ.</p>
<p>Є можливість самостійно готувати (кухонна плита, електрочайник, комплект посуду).</p>




















