<p class="info">Ліщук
    Галина Семенівна
</p>
<p class="info">Ковельський район</p>
<p class="info">0965685126</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує для відпочиваючих кімнати. Туалет на вулиці.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, радіоприймачем, дивитись телевізор.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати, навчитися верховій їзді.</p>









