<p class="info"> Гаврилюк Степан Вікторович

</p>
<p class="info">Шацький район</p>
<p class="info">0673323024  </p>






<hr>
<p>Комфортабельні кімнати з усіма необхідними умовами(холодильник,телевізор,супутникове ТБ,кондиціонер);</p>
<p>- ванні кімнати у кожному номері,гаряча та холодна вода цілодобово,туалет та душ;</p>
<p>- до послуг відпочиваючих: дві бесідки, тераса з мангалом, місце для розведення вогнища, літнє накриття для паркування автомобілів.</p>
<p>Харчування:</p>
<p>У будинку і на території є оснащена кухня з меблями, посудом, електронною плитою, духовкою та мікрохвильовою піччю (можливий варіант харчування за окрему доплату).</p>
























