<p class="info">Шкабура Олександр Петрович
</p>
<p class="info">Маневицький  район</p>
<p class="info">0974053821</p>


<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує: 1 одномісну, 1 двомісну, 1 тримісну кімнати в будинку. Туалет на вулиці, при бажанні -  нічліг на свіжому сіні..</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником, телефоном, радіоприймачем. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), дворазове харчування  35 грн., триразове харчування  - 40 грн.</p>
    <p>Господар приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість навчитися верховій їзді, ловити рибу, кататися у човні, мають можливість купатися, ходити по гриби та полювати, ліс за 300м від дому..</p>
    <p>Медична допомога і переговорний пункт знаходяться на відстані 3 км.</p>






























