<p class="info">Волох
    Михайло Петрович

</p>
<p class="info">Маневицький  район</p>
<p class="info">0975662458</p>


<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує: 3 двомісних кімнати в будинку і окремий будинок.  Туалет на вулиці.</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником, телефоном, радіоприймачем. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку) в будинку так само -20 грн., сніданок 15 грн., дворазове харчування  35 грн., триразове харчування  - 40 грн.</p>
    <p>Господар приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця, ондатри.</p>
    <p>За бажанням господиня навчить готувати і пекти національні страви.</p>
    <p>Відпочиваючі мають можливість навчитися верховій їзді, ловити рибу, кататися у човні, мають можливість купатися, ходити по гриби та полювати.</p>
    <p>Медична допомога знаходиться на відстані 100 м і переговорний пункт знаходиться на відстані 5 км.</p>
































