<p class="info">Лях Юрій Володимирович</p>
<p class="info">Ратнівський район</p>
<p class="info">09795789515</p>

<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує одномісні і двомісні кімнати. Туалет в будинку і на вулиці, є  ванна, душ.</p>
    <p>Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок -10 грн. дворазове харчування  35 грн., триразове харчування  -40 грн.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, телевізором.</p>
    <p>Господар приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця. Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати, збирати гриби і ягоди.</p>
    <p>Медична допомога (медпункт) знаходиться на відстані 5 км, а пошта знаходяться на відстані 0,5 км.</p>
